<div class="contact">
	<div class="row">
		<div class="col-md-12">
			<%= image_tag("nameinfo.png", alt: "jay") %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<%= image_tag("email.png", alt: "email") %>
		</div>
		<div class="col-md-10">
			<%= link_to image_tag("behance.png", alt: "behance"), "http://www.behance.net/jaymferguson"  %>
		</div>
		<div class="col-md-10">
			<%= link_to image_tag("instagram.png", alt: "instagram"), "http://instagram.com/jaymferguson"  %>
		</div>
		<div class="col-md-10">
			<%= link_to image_tag("twitter.png", alt: "twitter"), "http://twitter.com/jaymferguson"  %>
		</div>
		<div class="col-md-10">
			<%= link_to image_tag("linkedin.png", alt: "linkedin"), "http://linkedin.com/jar-ferguson"  %>
		</div>
	</div>

</div>